// pallete
$color1: rgba(36, 123, 160, 1);
$color2: rgba(112, 193, 179, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);

$root: $color1;
$rootLight: $color2;

$text: #353535;

$background: #fafafa;

$black-shadow: 0.7px 0.7px 10px #383737, 0.7px 0.7px 10px #383737;

$subtle-shadow: 0.2px 0.2px 6px #383737;