// @import "./palette";

$nav-height: 60px;

.overlay {
  background-color: rgba(gray, 1);
}

.root-color {
  color: $root;
}

.big {
  font-size: 2.5em;
}

.medium {
  font-size: 1.3em;
}

.huge {
  font-size: 5.5em;
}

.insane {
  font-size: 7.5em;
}

.source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}

.merri {
  font-family: 'Merriweather', serif;
}

.lora {
    font-family: 'Lora', serif;
}

.alg {
  font-family: 'Alegreya Sans', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.slabo {
  font-family: 'Slabo 27px', serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.pt {
  font-family: 'PT Sans', sans-serif;
}

.rel {
  position: relative;
}

.full-width {
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.stick-bottom {
  position: absolute;
  bottom: 0px;
}

.button-ish {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.up-down {
  y-transition: all 1s ease-in;
  animation: ani 1.7s infinite;
}

@keyframes ani {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 8px;
  }

  100% {
    bottom: 0;
  }
}

.black {
  color: #000;
}